@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Open+Sans&display=swap");

/* font-family: 'Crimson Text', serif;
font-family: 'Open Sans', sans-serif; */
.Properties {
  padding: 0.5rem;
}

.Properties > .item {
  display: inline-block;
  width: 33.33%;
  padding: 0.5rem;
  box-sizing: border-box;
}
